require '../support/factory_girl_helper'
include FactoryGirlHelper

# variables
etc_dir = ENV['ATS_ETC_DIR']

# generate template
puts <<EOS
# This is a test remap.config for ts_mruby
# suppose ATS listens 127.0.0.1:8080

# ATS::
map #{get(:rputs).path} http://127.0.0.1:80/ @plugin=ts_mruby.so @pparam=#{etc_dir}ats_rputs.rb
map #{get(:echo).path}  http://127.0.0.1:80/ @plugin=ts_mruby.so @pparam=#{etc_dir}ats_echo.rb
map #{get(:return).path}   http://127.0.0.1:80/ @plugin=ts_mruby.so @pparam=#{etc_dir}ats_return.rb
map #{get(:redirect).path} http://127.0.0.1:80/ @plugin=ts_mruby.so @pparam=#{etc_dir}ats_redirect.rb

# ATS::Request
map #{get(:request_getters).path} http://127.0.0.1:80/ @plugin=ts_mruby.so @pparam=#{etc_dir}ats_request_getters.rb
map #{get(:request_setters).path} http://127.0.0.1:80/ @plugin=ts_mruby.so @pparam=#{etc_dir}ats_request_setters.rb

# ATS::Headers_out
map #{get(:headers_out_get).path} http://127.0.0.1:8080/origin @plugin=ts_mruby.so @pparam=#{etc_dir}ats_headers_out_get.rb
map #{get(:headers_out_set).path} http://127.0.0.1:8080/origin @plugin=ts_mruby.so @pparam=#{etc_dir}ats_headers_out_set.rb
map #{get(:headers_out_delete).path} http://127.0.0.1:8080/origin @plugin=ts_mruby.so @pparam=#{etc_dir}ats_headers_out_delete.rb
map #{get(:headers_out_all).path} http://127.0.0.1:8080/origin @plugin=ts_mruby.so @pparam=#{etc_dir}ats_headers_out_all.rb

# ATS::Filter
map #{get(:body_eq).path} http://127.0.0.1:8080#{get(:origin).path} @plugin=ts_mruby.so @pparam=#{etc_dir}ats_filter_body_eq.rb
map #{get(:body_eq).alias_path} http://127.0.0.1:8080#{get(:origin).path} @plugin=ts_mruby.so @pparam=#{etc_dir}ats_filter_output_eq.rb
map #{get(:transform_bang).path} http://127.0.0.1:8080#{get(:origin).path} @plugin=ts_mruby.so @pparam=#{etc_dir}ats_filter_transform_bang.rb

# ATS::Upstram
map #{get(:server_eq).path} http://127.0.0.1:8080#{get(:origin).path} @plugin=ts_mruby.so @pparam=#{etc_dir}ats_upstream_server_eq.rb

# ATS::Records
map #{get(:records_get).path} http://127.0.0.1:8080#{get(:origin).path} @plugin=ts_mruby.so @pparam=#{etc_dir}ats_records_get.rb
map #{get(:records_set).path} http://127.0.0.1:8080#{get(:origin).path} @plugin=ts_mruby.so @pparam=#{etc_dir}ats_records_set.rb

# ATS::EventSystem
map #{get(:eventsystem_register).path} http://127.0.0.1:8080#{get(:origin).path} @plugin=ts_mruby.so @pparam=#{etc_dir}ats_eventsystem_register.rb

# Self-hosted dummy origin
map #{get(:origin).path} http://127.0.0.1:8080/ @plugin=ts_mruby.so @pparam=#{etc_dir}origin.rb
EOS
